.about__container {
  box-sizing: border-box;
  margin: 10%;
  padding: 40px;
 
  grid-template-columns: 0.5fr 1fr;
  color: #fff;
  visibility: hidden;
  display: none;
}

.about__container .intro {
  border-top: 2px solid #f5f3ee;
  padding-top: 10%;
  margin: 1rem 0;
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
}
.skills {
  font-size: 1rem;
  max-width: 60%;
  margin-left: 20%;
  padding-right: 2.6rem;
 
}
.skills__container{
  /* margin-top: 5rem; */
}
/* .skills p {
  margin-bottom: 10%;
  transform: translateY(0);
}
.skills p:first-child {
transition-delay: 0.1s;
} */
