body {
  
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  font-family: "Kobe", Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 100px;
  color: #6d6458;
  visibility: hidden;
}
.about__des{
  position: relative;
}
.site-menu {
  display: flex;
}

.menu-item {
  margin-left: 60px;
}
.landingPage__container{
  height: 160vh;
}
.landing__container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width:200px;
  height: 300px;
}

.block {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

.b-1 {
  background: url("../images/image-one.jpeg") 50% 50% no-repeat;
  background-size: cover;
}

.b-2 {
  background: url("../images/image-two.jpeg") 50% 50% no-repeat;
  background-size: cover;
}

.b-3 {
  background: url("../images/image-three.jpeg") 50% 50% no-repeat;
  background-size: cover;
}

.b-4 {
  background: url("../images/image-four.jpeg") 50% 50% no-repeat;
  background-size: cover;
}

.b-5 {
  background: url("../images/image-five.jpeg") 50% 50% no-repeat;
  background-size: cover;
}

.b-6 {
  background: url("../images/image-six.jpeg") 50% 50% no-repeat;
  background-size: cover;
}

.b-7 {
  background: url("../images/image-seven.jpeg") 50% 50% no-repeat;
  background-size: cover;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 50%;
  background: transparent;
}

.title {
  text-align: center;
  font-family: "Canopee";
  font-size: 6em;
  color: #f4f3ea;
  overflow: hidden;
  visibility: hidden;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  z-index: 1;
}

.title .letter {
  display: inline-block;
  line-height: 1em;
}
